* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(image/pexels-therato-8634489.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10;
    width: 100%;
    height: 100vh;
}

.page-transition {
    position: absolute;
    top: 0;
    background: linear-gradient(#223, #a700cd);
    width: 100%;
    height: 0%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-items {
    list-style: none;
    display: flex;
    margin: 0;
}

.menu-items li {
    margin-left: 1rem;
}
.menu-items a {
    color: white;
    text-decoration: none;
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 21px;
}

.hamburger div {
    width: 30px;
    height: 4px;
    background-color: white;
}

.active {
    text-decoration: underline;
}

.container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.present {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    margin-bottom: 40px;
}

.present p {
    position: relative;
    font-size: 18px;
    line-height: 1.6;
    color: white;
}


@media (max-width: 768px) {

    .menu-items {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: black;
        border-radius: 8px;
        padding: 10px;
        width: 200px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        z-index: 100;
    }

    .menu-items li {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.active + .menu-items {
        display: block;
    }
}

/*** PRESENTATION *****/

.timeline {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 900px;
    padding: 40px 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    transform: translateY(-50%);
    top: 40%;
    transform: translateX(-50%);
    left: 50%;
}

.event {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.event-content {
    text-align: center;
}

.event h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    font-weight: 500;
}

.event p {
    font-size: 14px;
    color: #888;
}

.event:hover {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
    transform: translateY(-10px);
}

.info-tab {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 15px;
    font-size: 14px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.info-tab:hover {
    background-color: #2980b9;
}

.side-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 80%;
    max-width: 600px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}

.side-panel.open {
    opacity: 1;
    visibility: visible;
}

.panel-content {
    text-align: center;
}

h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #555;
}

.close-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.close-btn:hover {
    background-color: #d32f2f;
}

#panel-info {
    margin-top: 20px;
}

.side-panel.open {
    right: 0;
}

@media (max-width: 600px) {
    .timeline {
        position: relative;
        flex-direction: column;
        padding: 20px;
        width: 100%;
    }

    .event {
        width: 80%;
        margin: 10px 0;
    }

    .timeline::before {
        left: 20px;
    }
}

/*** COMPETENCES ****/

.competence {
    width: 600px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 16px;
    padding: 30px;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.competence .lang{
    height: 55px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    position: relative;
}

.lang label{
    height: 100%;
    z-index: 2;
    width: 16.66%; 
    display: flex;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
  }
  
  #tab-1:checked ~ header .tab-1,
  #tab-2:checked ~ header .tab-2,
  #tab-3:checked ~ header .tab-3,
  #tab-4:checked ~ header .tab-4,
  #tab-5:checked ~ header .tab-5,
  #tab-6:checked ~ header .tab-6{
    color: #fff;
  }
  
  .lang .slider{
    position: absolute;
    height: 85%;
    border-radius: inherit;
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    transition: all 0.3s ease;
  }
  
  #tab-1:checked ~ .lang .slider{
    left: 0%;
    width: 85px;
    transform: translateX(5%);
  }
  #tab-2:checked ~ .lang .slider{
    left: 33%;
    width: 85px;
    transform: translateX(-100%);
  }
  #tab-3:checked ~ .lang .slider{
    left: 65.5%;
    width: 85px;
    transform: translateX(-200%);
  }
  #tab-4:checked ~ .lang .slider{
    left: 97.6%;
    width: 85px;
    transform: translateX(-300%);
  }
  #tab-5:checked ~ .lang .slider{
    left: 130.6%;
    width: 85px;
    transform: translateX(-400%);
  }
  #tab-6:checked ~ .lang .slider{
    left: 162.2%;
    width: 85px;
    transform: translateX(-500%);
  }
  
  .competence input[type="radio"]{
    display: none;
  }
  
  .card-area{
    overflow: hidden;
  }
  
  .card-area .cards{
    display: flex;
    width: 600%;
  }
  
  .cards .row{
    width: 16.66%;
  }
  
  .cards .row-1{
    transition: all 0.3s ease;
  }
  
  #tab-1:checked ~ .card-area .cards .row-1{
     margin-left: 0%;
  }
  #tab-2:checked ~ .card-area .cards .row-1{
    margin-left: -16.66%;
  }
  #tab-3:checked ~ .card-area .cards .row-1{
     margin-left: -33.33%;
  }
  #tab-4:checked ~ .card-area .cards .row-1{
     margin-left: -50%;
  }
  #tab-5:checked ~ .card-area .cards .row-1{
     margin-left: -66.66%;
  }
  #tab-6:checked ~ .card-area .cards .row-1{
     margin-left: -83.33%;
  }
  
  .row .langage{
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
  }
  
  .langage .price{
    font-size: 65px;
    font-weight: 600;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
  }
  
  .row .features li{
    display: flex;
    font-size: 15px;
    list-style: none;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .features li i{
    background: linear-gradient(#D5A3FF 0%, #77A5F8 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  
  .features li span{
    margin-left: 10px;
  }
  
  .competence button{
    width: 100%;
    border-radius: 25px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    transition: transform 0.3s ease;
  }
  
  .competence button:hover{
    transform: scale(0.98);
  }

  @media (max-width: 600px){
    .competence{
        width: 400px;
    }

    .lang .slider{
        position: absolute;
        height: 85%;
        border-radius: inherit;
        background: transparent;
        transition: all 0.3s ease;
    }

    .langage .price{
        font-size: 40px;
        font-weight: 600;
        position: relative;
        font-family: 'Noto Sans', sans-serif;
    }
  } 


/**** PROJETS ****/

.containers{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.rows{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.single-content .title{
    margin: 0;
    position: absolute;
    font-size: 20px;
    color: #fff; 
}
.single-content{
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
    height: auto; 
    width: 300px;
}
.single-content img{
    width: 100%;
    height: 400px; 
}
.img-text{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,#0545ab,#d061d8);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: perspective(400px) rotateX(-90deg);
    transform-origin: center top 0;
    transition: .5s;
    padding: 40% 0 0;
    color: #fff;
    text-align: center; 
}
.img-text button{
    width: 200px;
    height: 50px;
    margin-top: 10px;
    background: linear-gradient(to top right, #d061d8, #0545ab);
    border: none;
    border-radius: 10px;
}
.img-text button:hover{
    background: white;
    transition: 0.7s;
    cursor: pointer;
}
.single-content:hover .img-text{
    opacity: 1;
    transform: perspective(400px) rotateX(0); 
}
.img-text h2 {
	font-family: "Bebas Neue", sans-serif;
}
.socials i{
    padding: 0 15px;
}
.single-content .title {
	bottom: 25px;
	left: 25px;
	transition: .9s;
	font-size: 25px;
	text-transform: uppercase;
	background: linear-gradient(to top,#fff,transparent);
	color: #262626;
	padding: 20px 70px;
	line-height: 1.5;
}
.single-content:hover .title{
    bottom: -40px; 
}

@media (max-width: 600px){
    .single-content{
        margin-bottom: 30px;
    }

    body{
        overflow-y: scroll;
    }
}



/**** CONTACT ****/

.contact-info{
    margin-top: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(-50%);
    text-align: center;
}

.contact-method{
    width: 220px;
    height: 80px;
    border-radius: 5px;
    display: inline-block;
    background: #a700cd;
    margin: 10px;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.contact-method i{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 30px;
    border-radius: 5px;
    line-height: 85px;
    background: linear-gradient(to top left, #a700cd, #590ce8);
    z-index: 1;
    transition: transform 0.6s;
}

.contact-method span{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px 0;
}

.contact-method:hover i{
    transform:  translateY(-40px);
}

@media (max-width: 974px){
    .contact-info{
        position: relative;
        margin-top: 60px;
    }
}