* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(image/pexels-therato-8634489.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10;
    width: 100%;
    height: 100vh;
}

.page-transition {
    position: absolute;
    top: 0;
    background: linear-gradient(#223, #a700cd);
    width: 100%;
    height: 0%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-items {
    list-style: none;
    display: flex;
    margin: 0;
}

.menu-items li {
    margin-left: 1rem;
}
.menu-items a {
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 21px;
}

.hamburger div {
    width: 30px;
    height: 4px;
    background-color: white;
}

.active {
    text-decoration: underline;
}

.container {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 50px 20px;
}

svg {
    max-width: 100%;
    height: auto;
}

.text {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

@media (max-width: 768px) {
    .menu-items {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: black;
        border-radius: 8px;
        padding: 10px;
        width: 200px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        z-index: 100;
    }

    .menu-items li {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.active + .menu-items {
        display: block;
    }
}

/*** PRESENTATION *****/

svg{
    max-width: 900px;
    margin: 0 auto;
}

#text{
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
}

@keyframes bgFadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.section {
    margin-bottom: 40px;
    padding: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #a700cd;
    font-size: 2.2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.item {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.item h3 {
    color: #a700cd;
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.item p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 10px;
}

.school {
    font-weight: bold;
    color: #444;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.section, .item {
    animation: fadeIn 0.8s ease-out;
}


/*** COMPETENCES ****/

.competence {
    width: 600px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 16px;
    padding: 30px;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.competence .lang{
    height: 55px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    position: relative;
}

.lang label{
    height: 100%;
    z-index: 2;
    width: 16.66%; 
    display: flex;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
  }
  
  #tab-1:checked ~ header .tab-1,
  #tab-2:checked ~ header .tab-2,
  #tab-3:checked ~ header .tab-3,
  #tab-4:checked ~ header .tab-4,
  #tab-5:checked ~ header .tab-5,
  #tab-6:checked ~ header .tab-6{
    color: #fff;
  }
  
  .lang .slider{
    position: absolute;
    height: 85%;
    border-radius: inherit;
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    transition: all 0.3s ease;
  }
  
  #tab-1:checked ~ .lang .slider{
    left: 0%;
    width: 85px;
    transform: translateX(5%);
  }
  #tab-2:checked ~ .lang .slider{
    left: 33%;
    width: 85px;
    transform: translateX(-100%);
  }
  #tab-3:checked ~ .lang .slider{
    left: 65.5%;
    width: 85px;
    transform: translateX(-200%);
  }
  #tab-4:checked ~ .lang .slider{
    left: 97.6%;
    width: 85px;
    transform: translateX(-300%);
  }
  #tab-5:checked ~ .lang .slider{
    left: 130.6%;
    width: 85px;
    transform: translateX(-400%);
  }
  #tab-6:checked ~ .lang .slider{
    left: 162.2%;
    width: 85px;
    transform: translateX(-500%);
  }
  
  .competence input[type="radio"]{
    display: none;
  }
  
  .card-area{
    overflow: hidden;
  }
  
  .card-area .cards{
    display: flex;
    width: 600%;
  }
  
  .cards .row{
    width: 16.66%;
  }
  
  .cards .row-1{
    transition: all 0.3s ease;
  }
  
  #tab-1:checked ~ .card-area .cards .row-1{
     margin-left: 0%;
  }
  #tab-2:checked ~ .card-area .cards .row-1{
    margin-left: -16.66%;
  }
  #tab-3:checked ~ .card-area .cards .row-1{
     margin-left: -33.33%;
  }
  #tab-4:checked ~ .card-area .cards .row-1{
     margin-left: -50%;
  }
  #tab-5:checked ~ .card-area .cards .row-1{
     margin-left: -66.66%;
  }
  #tab-6:checked ~ .card-area .cards .row-1{
     margin-left: -83.33%;
  }
  
  .row .langage{
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
  }
  
  .langage .price{
    font-size: 65px;
    font-weight: 600;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
  }
  
  .row .features li{
    display: flex;
    font-size: 15px;
    list-style: none;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .features li i{
    background: linear-gradient(#D5A3FF 0%, #77A5F8 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  
  .features li span{
    margin-left: 10px;
  }
  
  .competence button{
    width: 100%;
    border-radius: 25px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    transition: transform 0.3s ease;
  }
  
  .competence button:hover{
    transform: scale(0.98);
  }

  @media (max-width: 600px){
    .competence{
        width: 400px;
    }

    .lang .slider{
        position: absolute;
        height: 85%;
        border-radius: inherit;
        background: transparent;
        transition: all 0.3s ease;
    }

    .langage .price{
        font-size: 40px;
        font-weight: 600;
        position: relative;
        font-family: 'Noto Sans', sans-serif;
    }
  } 


/**** PROJETS ****/

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.rows{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.single-content .title{
    margin: 0;
    position: absolute;
    font-size: 20px;
    color: #fff; 
}
.single-content{
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
    height: auto; 
    width: 300px;
}
.single-content img{
    width: 100%;
    height: 400px; 
}
.img-text{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,#0545ab,#d061d8);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: perspective(400px) rotateX(-90deg);
    transform-origin: center top 0;
    transition: .5s;
    padding: 40% 0 0;
    color: #fff;
    text-align: center; 
}
.img-text button{
    width: 200px;
    height: 50px;
    margin-top: 10px;
    background: linear-gradient(to top right, #d061d8, #0545ab);
    border: none;
    border-radius: 10px;
}
.img-text button:hover{
    background: white;
    transition: 0.7s;
    cursor: pointer;
}
.single-content:hover .img-text{
    opacity: 1;
    transform: perspective(400px) rotateX(0); 
}
.img-text h2 {
	font-family: "Bebas Neue", sans-serif;
}
.socials i{
    padding: 0 15px;
}
.single-content .title {
	bottom: 25px;
	left: 25px;
	transition: .9s;
	font-size: 25px;
	text-transform: uppercase;
	background: linear-gradient(to top,#fff,transparent);
	color: #262626;
	padding: 20px 70px;
	line-height: 1.5;
}
.single-content:hover .title{
    bottom: -40px; 
}

@media (max-width: 600px){
    .single-content{
        margin-bottom: 30px;
    }

    .container{
        overflow-y: scroll;
    }
}



/**** CONTACT ****/

.contact-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-contact{
    position: relative;
    flex: 1;
    width: 300px;
    height: 140px;
    background-color: #444;
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    font-size: 32px;
    color: #ea8685;
    transition: .3s linear;
}

.card-contact:hover .icon{
    transform: scale(4);
    opacity: 0;
}

.card-content span{
    position: absolute;
    left: 0;
    font-size: 16px;
    opacity: 0;
    bottom: 20px;
    color: #fff;
    font-weight: 500;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card-content button{
    width: 120px;
    height: 40px; 
    background-color: #0077b5;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    border-radius: 4px; 
}


.card-contact:hover h3{
    opacity: 1;
    top: 46px;
    transition: .3s linear .3s;
}

.card-contact:hover span{
    opacity: 1;
    bottom: 46px;
    transition: .3s linear .3s;
}


@media screen and (max-width:900px){
    .card-contact{
        flex: 100%;
        max-width: 500px;
    }
}