*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(image/pexels-jackgittoes-975399.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.loader{
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10;
    width: 100%;
    height: 100vh;
}
.page-transition{
    position: absolute;
    top: 0;
    background-color: #635543;
    width: 100%;
    height: 0%;
}
header{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 20;
    height: 80px;
    background: rgba(0, 0, 0, 0.7);
}
header .logo{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    color: #ffffff;
}
header .menu-items{
    display: flex;
    list-style: none;
    margin-right: 40px;
}
header .menu-items li{
    margin-left: 20px;
}
header .menu-items li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
}
.active{
    text-decoration: underline;
}
.container{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
h1{
    font-size: 100px;
    font-weight: lighter;
}

/*** PRESENTATION *****/

svg{
    max-width: 900px;
    margin: 0 auto;
}

#text{
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
}

@keyframes bgFadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.section {
    margin-bottom: 40px;
    padding: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #e8841a;
    font-size: 2.2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.item {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.item h3 {
    color: #e8841a;
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.item p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 10px;
}

.school {
    font-weight: bold;
    color: #444;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.section, .item {
    animation: fadeIn 0.8s ease-out;
}


/*** COMPETENCES ****/

.competence {
    position: relative;
    top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    justify-items: center;
    align-items: center;
    padding: 20px; 
}

.maincontainer {
    width: 100%;
    height: auto;
    perspective: 1000px; 
}

.carte {
    width: 100%;
    height: 250px;
    position: relative;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    transform-style: preserve-3d;
    transform: rotateY(0deg); 
    transition: transform 0.6s;
}

.carte:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transform: rotateY(180deg); 
}

.face, .dos {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
}

.face {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(147, 147, 147, 0.7);
}

.face img {
    width: 50%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.dos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a2a2a2;
    padding: 20px;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: rotateY(180deg); 
}


/**** PROJETS ****/

.card {
    width: 80px;
    height: 400px;
    border-radius: .75rem;
    background: #000000;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    text-align: justify;
    margin: 0 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card[for="c1"] {
    background-image: url('image/pexels-joshsorenson-976873.jpg');
    background-size: cover;
}
.card[for="c2"] {
    background-image: url('image/verne.jpg');
    background-size: cover;
}
.card[for="c3"] {
    background-image: url('image/musculation.jpeg');
    background-size: cover;
}
.card[for="c4"] {
    background-image: url('image/pexels-maltelu-5276099.jpg');
    background-size: cover;
}

.card > .row {
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0; 
}

.card > .row > .description {
    display: flex;
    justify-content: flex-start; 
    flex-direction: column;
    height: 80px;
    width: 100%; 
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
    padding: 0 10px;
}


.description p {
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
}

.description h4 {
    text-transform: uppercase;
    font-size: 1rem; 
}

.description a{
    background: transparent;
}

.description button{
    height: 60px;
    width: 50%;
    background: black;
    border-radius: 10px;
    color: white;
}

.description button:hover{
    height: 60px;
    width: 50%;
    background: white;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
    color: black;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}


/**** CONTACT ****/

.contact-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-contact{
    position: relative;
    flex: 1;
    width: 300px;
    height: 140px;
    background-color: #444;
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    font-size: 32px;
    color: #ea8685;
    transition: .3s linear;
}

.card-contact:hover .icon{
    transform: scale(4);
    opacity: 0;
}

.card-content span{
    position: absolute;
    transform: translateX(-50%, -50%);
    font-size: 16px;
    opacity: 0;
    bottom: 20px;
    color: #fff;
    font-weight: 500;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card-content button{
    width: 120px;
    height: 40px; 
    background-color: #0077b5;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    border-radius: 4px; 
}


.card-contact:hover h3{
    opacity: 1;
    top: 46px;
    transition: .3s linear .3s;
}

.card-contact:hover span{
    opacity: 1;
    bottom: 46px;
    transition: .3s linear .3s;
}


@media screen and (max-width:900px){
    .card-contact{
        flex: 100%;
        max-width: 500px;
    }
}